/* .Fileicon{

} */
*{
    border: none;
    padding: 0;
    margin: 0;
}


.container{
    display: flex;
    align-items: center;
    padding: 0;
}


.Fileicon{
    flex : 1;
    text-align: center;
    align-items: center;
    font-size: xx-large;
    padding: 2px;
}

.Filename{
    flex : 4;
}

.Filesize{
    flex : 3; 
    text-align: center;
    align-items: center;
}

.Fileindex {
    text-align: center;
}
.card-body {
    padding: 0;
    /* max-height: 200px;
    overflow-y: scroll; */
}

